@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;

  color-scheme: light dark;
  color: var(--color-gray-50);
  background-color: var(--color-gray-950);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: var(--color-gray-400);
}
a:hover {
  color: var(--color-gray-300);
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  line-height: 1.5;
  font-weight: 300;
}

p {
  font-weight: 300;
}